[submodule "mirrors/tracy"]
	path = mirrors/tracy
	url = git@github.com:xorxororbad/mirror-tracy.git
[submodule "mirrors/miniaudio"]
	path = mirrors/miniaudio
	url = git@github.com:xorxororbad/mirror-miniaudio.git
[submodule "mirrors/jsoncpp"]
	path = mirrors/jsoncpp
	url = git@github.com:xorxororbad/mirror-jsoncpp.git
[submodule "mirrors/sdl"]
	path = mirrors/sdl
	url = git@github.com:xorxororbad/mirror-sdl.git
[submodule "mirrors/sqlite"]
	path = mirrors/sqlite
	url = git@github.com:xorxororbad/mirror-sqlite.git
[submodule "mirrors/googletest"]
	path = mirrors/googletest
	url = git@github.com:xorxororbad/mirror-googletest.git
[submodule "mirrors/googlebenchmark"]
	path = mirrors/googlebenchmark
	url = git@github.com:xorxororbad/mirror-googlebenchmark.git
[submodule "mirrors/zstd"]
	path = mirrors/zstd
	url = git@github.com:xorxororbad/mirror-zstd.git
[submodule "mirrors/imgui"]
	path = mirrors/imgui
	url = https://github.com/ocornut/imgui.git
