[submodule "mirrors/tracy"]
	path = mirrors/tracy
	url = git@github.com:xorxororbad/mirror-tracy.git
[submodule "mirrors/miniaudio"]
	path = mirrors/miniaudio
	url = git@github.com:xorxororbad/mirror-miniaudio.git
[submodule "mirrors/jsoncpp"]
	path = mirrors/jsoncpp
	url = git@github.com:xorxororbad/mirror-jsoncpp.git
[submodule "mirrors/sdl"]
	path = mirrors/sdl
	url = git@github.com:xorxororbad/mirror-sdl.git
[submodule "mirrors/sqlite"]
	path = mirrors/sqlite
	url = git@github.com:xorxororbad/mirror-sqlite.git
